    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>A health care plan that makes sense</h2>
              <p>
                For too long, getting health insurance has been a hassle.  HTFUAndrew changes that. No deductibles, no co-pays, no networks.
                Just a stern reminder that you're being a little b*tch and need to harden the f*ck up.
              </p>
              <br/><br/>
            </div>
        </div>
    </section>
