<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2>Check your eligibility:</h2>
				</div>
				<div class="col-lg-6">
          <h2 id="htfu-message" style="display: none;">Why don't you just Harden the F*ck Up?</h2>
          <div id="htfu-email" class="form-group" style="margin-top: .6em;">
            <div class="input-group">
              <input type="text" class="form-control " placeholder="Input your email here">
              <span class="input-group-btn">
                  <button id="htfu-eligible" onclick="htfu()" type="submit" class="btn btn-primary">Submit</button>
              </span>
            </div>
          </div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
